#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/.terragrunt-cache
**/.terraform.lock.hcl
**/.terraform
**/_backend.tf
**/_tg-doppler-provider.tf
**/.tool-versions

.env
